.sec-ft{
    width: 30%;
    min-width: 300px;
    padding: 5%;
}
.container-ft{
    display: flex;
    flex-wrap: wrap;
}

.links{
    width: 250px;
}
.derechos{
    border-top: 2px solid whitesmoke;
}
.formulario{
    padding-left: 5%;
    padding-bottom: 10%;
}
