.body{
    background-color: transparent !important;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

}
.content{
    font-family: Poppins-SemiBold;
    font-size: 30px;
    color: black;
}
.h1{
    font-size: 3.75rem;
    line-height: 1em;
    margin-top: .4em;
    margin-bottom: .4em;
    font-weight: 500;
}
