.nosotros{
    background-color: #DC3441;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-top: 80px;
  
}
.head-nosotros{
    background-color: transparent !important;
    color: white;
    font-family: Gilroy-Heavy;
    font-size: 100px;
    padding: 5%;
}

.body-nosotros{
    background-color: transparent !important;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

}
