.nosotros{
    background-color: #DC3441;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-top: 80px;
}
.card-text{
    font-family: Gilroy-Light;
    max-width:100%;
    text-align: justify;
}
.card-header{
    font-family: Gilroy-Heavy;
    font-size: 200%;
}
.head{
    background-color: transparent !important;
    color: white;
    font-family: Gilroy-Heavy;
    font-size: 200px;
    padding: 100px;
   
}

.body{
    background-color: transparent !important;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
   
}
.CardNosTitle{
    font-family: Gilroy-Heavy;

}
