.servicios{
    background-color: #ffffff;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-top: 80px;
}
.head-servicios{
    background-color: transparent !important;
    color:  #464856;;
    font-family: Gilroy-Heavy;
    font-size: 100px;
    padding: 5%;
}
.body-servicios{
    background-color: transparent !important;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

}