#hello{
  border:1px solid #000
}
.home{
  background: url('../src/images/Fondo.png') no-repeat center fixed;
  background-size: cover;
}

.titulo-home{
  padding-top: 150px;
  font-family: Gilroy-Heavy, sans-serif;
  text-align: right;
  padding-right: 8%;
  color: #464856;
  font-size: 100px;
 
}

.tarjeta-subhome{
  font-family: Gilroy-Light, sans-serif;
  color: #464856;
  padding-right: 8%;
  text-align: right;
  font-size: 80px;
}


.tarjeta-subhome1{
  padding-bottom: 5%;
  text-align: justify;
}
.tarjeta-subhome1 > p {
  margin-top: 100px;
  padding: 5%;
  font-family: Poppins-Regular, sans-serif;
  font-size: 20px;
  background-color: aliceblue;
  color: black;
  box-shadow: 2px 2px 10px #666;
  
}
.footer-tarjeta{
  background: linear-gradient(180deg, rgba(255,255,255,1) 23%, rgba(205,20,20,1) 100%);
  background-size: cover;
  
  align-items: center;
  justify-content: center;
  margin: 0 -5px;
  display: flex;
  flex-wrap: wrap;
}
.footer-tarjeta:after {
  display: table;
  clear: both;
}
.headivs{
  background-color: white;
  text-align: left;
  padding-top: 7%;
  padding-left: 5%;
  padding-bottom: 7%;
  color: olivedrab;
}
.headivs h5{
  color: #6a6a6a;
}
.tittledivs{
  color: #0A416B;
  font-size: 40px;
  font-family: Metropolis-Bold, sans-serif;
}

.card-area {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  min-width: inherit;
  justify-content: center;
}
.servicios-home{
  background-color: #F0F8FF;
  display: flex;
  flex-wrap: wrap;
  min-width: inherit;
  justify-content: center
}
.titulo-servicios-home{
    font-family: Metropolis-Bold, sans-serif;
    font-size: 3rem;
    line-height: 1em;
    margin-top: .4em;
    margin-bottom: .4em;
    font-weight: 500;
    width: 100%;
    padding-left: 5%;
    padding-top: 5%;
}
.figures-icons
{
  margin: 5%;
  color: #000;
  align-content: center;

}
.logopartner{
  padding: 5%;
  width:33%;
}
