#hello{
  border:1px solid #000
}
.home{
  background: url('../src/images/arch.png') no-repeat;
  background-size: cover;
}
.tarjeta-home{
  text-align: center;
  font-size: 60px;
  font-family: Poppins-Regular;
  color:white;
}
.tarjeta-subhome{
  font-size: 20px;
}
.cabecera{
  padding-top: 5%;
}
.tarjeta-subhome > p{
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}
.descripcion{
  background: url('../src/images/cup-coffee.jpg');
  background-size: cover;
  width: 100%;
  height: 400px;
}
.headivs{
  background-color: white;
  text-align: left;
  padding-top: 10%;
  padding-left: 10%;
  padding-bottom: 10%;
  padding-right: 30%;
  color: red;
}
.headivs2{
  color: blue;
}